|---|
|layout: default
|title: About
|---

.row
	.twelve.columns
		h3 About Middlebury Cycling
		hr

.row
	.twelve.columns
		section.vertical.tabs
			ul.tab-nav.four.columns
				li.active: a(href='#') Intro
				li: a(href='#') Racing
				li: a(href='#') History
				li: a(href='#') FAQ
			//- ---------
			//- INTRO TAB
			//- ---------
			.tab-content.eight.columns.active
				h4 Welcome to the club!
				p From the lofty summits of the great mountain gaps to the forest trails around town, Middlebury is a great place to enjoy all of the different disciplines of cycling. It has been recognized as such ever since the bicycle was invented; Middlebury has had a uniformed cycling team since at least 1886, possibly making cycling the oldest organized sport at Middlebury.
				p Today, Middlebury Cycling provides organizational and logistical support to help Middlebury students achieve their cycling goals. Whether they just want to get out and see the countryside by bike for the first time, or they want to be professionals on the UCI WorldTour, Middlebury Cycling will support them as they work to make it happen. As a member of the Eastern Collegiate Cycling Conference, Middlebury Cycling attends races around the Northeast, making it a great way to see not only Vermont, but New York, New Hampshire, Massachusetts, Pennsylvania, and beyond.
				p Whatever you want to get out of cycling, you should get in touch with our club and find out how we can help you make it happen.

			//- ----------
			//- RACING TAB
			//- ----------
			.tab-content.eight.columns
				h4 Overview
				p Chances are you’re looking forward to your first collegiate bike race but have a lot of questions. How do I register? What do I wear? Do all of the guys actually shave their legs? This guide is set up to answer those questions and any others you might have and get you ready to roll up to the starting line in just a few days.
				p Middlebury College races in the Eastern Collegiate Cycling Conference (ECCC), which falls under the jurisdiction of USA Cycling. The casual atmosphere of the collegiate circuit is perfect whether you are entering your first race or are a seasoned pro. Most importantly, race weekends are exciting and fun for cyclists of all abilities.

				h4 First Steps
				p To race, you’ll need to get a license through USA Cycling. Once you have your license and have printed your authorization to ride (it takes a few weeks to get your hard copy license in the mail), you’re all set to race. If you plan on racing in a couple of collegiate races or you want to continue racing over the summer on your own, consider purchasing a road license. You can add a "collegiate license" onto your road license for free. Check out the USA Cycling website to make that purchase. Full licenses cost about $60. If you’re just trying out racing, one-day licenses are available, too, and you can get these at the sign-in desk the day of the race. One day licenses are around $10. While you’ll have to pay for your own license, the club covers your registration and race-entry fees for any collegiate road, mountain, or cyclocross races. 

				h4 Decide Which Races to Enter
				p The spring schedule for ECCC road races is posted online. Club leadership will send out an email early in the week preceding a race weekend. If you’d like to race, respond to their email as soon as possible so that they can register for the weekend’s events. Someone from Middlebury races almost every weekend in the spring, and transportation is provided in school vans or personal vehicles (and drivers are reimbursed for gas money). 
				p Some team members race once or twice in a season, while others race almost every weekend. There’s no minimum number of races that you have to attend, but once you’ve been to an ECCC race, we guarantee you’ll want to sign up for more. 

				h4 Packing for a Weekend
				p We have put together a basic list of things that you will want to bring on a race weekend. 
				h5 Bike Stuff:
				ul
					li Bike
					li Helmet
					li Cycling Kit (or black shorts if you are borrowing a jersey from someone)
					li Warmer cycling clothes to layer (rain jacket, arm warmers, leg warmers)
					li Sports Bras
					li Gloves
					li Bike Shoes
					li Socks
					li Water Bottles
					li Repair Kit (We have lots of tools to help you out if we need to fix something on the road)
					li Spare Tire Tube
					li On-the-bike Food

				h5 Non-Bike Stuff:
				ul
					li Clothes for race day (something comfortable)
					li Jacket (it gets cold watching early-spring races)
					li Pajamas
					li Socks / Underwear
					li Sneakers
					li Toiletries
					li Snacks for the car
					li Homework
					li Blanket to sit on
					li Pocket knife/multitool
					li Some money for snacks/lunch on Saturday

				h4 Travel
				p The team travels together to races. We meet at ADK after everyone is done with class on Friday and drive to where the race is being held. Usually we’ll stay at a team member’s house and, depending on what time we left Middlebury, either grab a quick dinner along the way or eat once we arrive. By the time we’ve arrived and figured out plans for the morning, it’s time for bed. 

				h4 Race Day
				p Saturday morning you’ll wake up, throw on some sweats, grab a quick breakfast, and head over to where the race is being held. The team will check in at the registration table and head back to the parking lot to warm up and get ready to ride. 
				p Races are separated by category; the Intro category is for new racers and those who are still working on bike skills, and races for the other categories get progressively longer and faster as riders move up from D (or C for women) to the A field. If you’re not sure which category you should start it, talk to one of the club veterans for advice. Most riders do at least one intro race to get a feel for collegiate racing before moving on. If you have had some significant racing experience and are already in a category, you may as well start out at a higher level. 
				p Usually each rider participates in one or two races each day. The rest of the time is spent warming up, cooling down, hanging out, cheering on our teammates, and harassing the UVM riders.

			//- -----------
			//- HISTORY TAB
			//- -----------
			.tab-content.eight.columns
				h4 Our History
				p Mike Gaskin '11, enthusiastic cycling alum and Middlebury history buff, has <a href="https://www.facebook.com/middcycling/posts/550489641651746?notif_t=wall">done his research</a>.
				p The Middlebury Undergraduate reported in October 1883 that general interest in athletics was increasing, but the activities were still informal. It reads "Bicycling is very common, with five handsome bicycles already upon the campus. Baseball seems to lag just at present, but by a little practice, a fair club might be formed. Now that it is late in the season, probably not much will be done in that line before the spring term."
				p Then, in April 1884, the Undergraduate reported that "The bicycling club is in a flourishing condition. It is composed the following members: Prof. Eaton, Samuel Sheldon, MacGowan, Bailey, Dana, and Fletcher. With new suits they make a pretty appearance when together on the streets."
				p So that proves that the cyclists were organized and had uniforms. Meanwhile, Henry Lincoln Bailey '1886 recalled in the Middlebury College News Letter of September 1929 that "Forty five years ago, there was not a tennis racket nor a football upon the campus...tennis arrived the next year, 1885, and there was a feeble and futile attempt to start football."
				p Even if baseball started a uniformed team in spring of 1884, that would tie it, at best, with cycling for the honor of Middlebury's first uniformed sports team. So far, Mike has not found record or proof that they did.
				p In the words of Mr. Gaskin: Here's to the upcoming 130th anniversary of Middlebury Cycling!

			//- -------
			//- FAQ TAB
			//- -------
			.tab-content.eight.columns
				h4 1. How do I sign up for a race?
				p When club leadership sends out a pre-race email, reply and let them know that you’d like to race that coming weekend. They’ll confirm, register you for the weekend’s races, and let you know when to show up at ADK to head to the race. Be sure to fill out an indemnity form and turn it in to CCAL before leaving for the race.

				h4 2. Do I need a uniform for racing?
				p Middlebury races in light blue cycling kits — sets of jerseys and bib shorts — but if you don’t have one, you’re allowed to race in black shorts or tights and can borrow a jersey from a teammate.

				h4 3. Do male cyclists shave their legs? Why? Don’t girls think it’s weird?
				p Cyclists of any gender tend to shave their legs for two reasons: to prevent infection in case a crash leads to road rash and to better show off that hard-earned leg muscle. Most girls appreciate this sign of dedication to sport and one’s physical appearance, and John Garrett ’11 summed up thoughts on leg shaving better than anyone else has been able: two pairs of shaved legs are better than one. In the end, the choice to shave your legs is up to you.

				h4 4. What will I eat when I’m away from school?
				p This varies a little by weekend, but typically the team will eat dinner on the road on Friday then have breakfast and dinner on Saturday and well as breakfast on Sunday at the house where we’re staying. Lunch on Saturday and Sunday tends to be some combination of snacks graciously provided by our hosts and sandwiches made my teammates who’ve finished racing.

				h4 5. Is racing fun?
				p To quote Sarah Palin, “You betcha!” Race weekends are the perfect combination of riding in new places, eating home-cooked meals, getting to know a new group of kids, and having spontaneous dance parties in the parking lot with members of the UVM team (and yes, we’re much better dancers - don’t let us down!).

				h4 6. Other Questions
				p If you have any other questions about racing or riding with the team, send us an email at <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a>