|---|
|layout: default
|title: Home Base
|---

.row
	.twelve.columns
		img(src='img/team_road.jpg')

.row
	.four.columns
		h3 Web Updates
		hr
		p Please pardon our appearance while we update our website. Over the next couple of days, we will be updating this year's calendar, updating our ride database, and writing up a news update. We apologize for any broken links or missing information. Feel free to send an email to <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a> if you have any questions or concerns. Thanks for your patience!
	.four.columns
		h3 Recent News
		hr
		p There is no recent news. Check back soon!
	.four.columns
		h3 Riding with the Team
		hr