!!!5

html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width')

		title {{ site.name }} | {{ page.title }}

		//- stylesheets
		link(rel='stylesheet', href='/css/gumby.css')
		link(rel='stylesheet', href='/css/main.css')

		//- javascripts
		script(src='/js/libs/modernizr-2.6.2.min.js')

	body
		#bg_2013
			#h_stripe_1
			#h_stripe_2
		#wrapper
			.navbar#nav1
				.row
					a.toggle(gumby-trigger='#nav1 > .row > ul', href='#')
						i.icon-menu
					h1.four.columns.logo
						a(href='/')
							img(src='/img/logo_middcycltxt.png', gumby-retina)
					ul.eight.columns
						li: a(href='/news.html') News
						li: a(href='#', style='color: #ccc;') Events
						li: a(href='/about.html') About
						li: a(href='#', style='color: #ccc;') Rides
						li: a(href='/kits.html') Kits

			//- begin page content
			{{ content }}
			//- end page content

			.row#footer: hr
				.eight.columns.centered.text-center
					.three.columns: img(src='/img/sponsors/clifbar.png')
					.three.columns: img(src='/img/sponsors/rudy.png')
					.three.columns: img(src='/img/sponsors/vtpb.png')
					.three.columns: img(src='/img/sponsors/skida.png')
					.row: .twelve.columns.text-center
						h6 Web design by <a href="http://natebeatty.com">Nate Beatty</a>
					//- Site designed and coded by <a href="http://tnbeatty.github.com">Nate Beatty</a>
					//- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					//- Based on kit designs by <a href="http://shopskida.com">Corinne Prevot</a>
					//- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					//- <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY-NC-ND 3.0</a>

		//- include ../_partials/mce-form.jade
		include ../_partials/ga-template.jade

		//- javascripts (load just before closing body tag)
		script(src='/js/libs/jquery-2.0.2.min.js')

		//- Gumby Initialization
		script(src='/js/libs/gumby.js')
		script(src='/js/libs/ui/gumby.retina.js')
		script(src='/js/libs/ui/gumby.fixed.js')
		script(src='/js/libs/ui/gumby.skiplink.js')
		script(src='/js/libs/ui/gumby.toggleswitch.js')
		script(src='/js/libs/ui/gumby.checkbox.js')
		script(src='/js/libs/ui/gumby.radiobtn.js')
		script(src='/js/libs/ui/gumby.tabs.js')
		script(src='/js/libs/ui/gumby.navbar.js')
		script(src='/js/libs/ui/jquery.validation.js')
		//- script(src='/js/libs/gumby.parallax.js')
		script(src='/js/libs/gumby.init.js')

		//- iosSlider Support
		script(src='/js/jquery.iosslider.min.js')

		//- Custom Javascripts
		script(src='/js/main.js')
		script(src='/js/index.js')