form.validate(action='http://middcycling.us7.list-manage.com/subscribe/post?u=a41c38cfc0accdb3569102cc3&amp;id=2c21b76861', method='post', id='mc-embedded-subscribe-form', name='mc-embedded-subscribe-form', target='_blank', novalidate)
	ul
		li.field
			label(for='mce-EMAIL') Email Address
			input.input(id='mce-EMAIL', name='EMAIL', value='', type='email', placeholder='rliebowitz@middlebury.edu')
		li.field
			label(for='mce-FNAME') First Name
			input.input(id='mce-FNAME', name='FNAME', value='', type='text', placeholder='Ronald')
		li.field
			label(for='mce-LNAME') Last Name
			input.input(id='mce-LNAME', name='LNAME', value='', type='text', placeholder='Liebowitz')
		li.field
			b Team affiliation:
			label.radio.checked(for='mce-group[3653]-3653-0')
				input(name='group[3653]', id='mce-group[3653]-3653-0', type='radio', value='1', checked='checked')
				span
				| &nbsp;Current Middlebury Student
			label.radio(for='mce-group[3653]-3653-1')
				input(name='group[3653]', id='mce-group[3653]-3653-1', type='radio', value='2')
				span
				| &nbsp;Middlebury Alumnus / Alumna
			label.radio(for='mce-group[3653]-3653-2')
				input(name='group[3653]', id='mce-group[3653]-3653-2', type='radio', value='4')
				span
				| &nbsp;Other
		li.field
			b Preferred Discipline:
			label.checkbox(for='mce-group[3701]-3701-0')
				input(name='group[3701][8]', id='mce-group[3701]-3701-0', type='checkbox', value='8')
				span
				| &nbsp;Road
			label.checkbox(for='mce-group[3701]-3701-1')
				input(name='group[3701][16]', id='mce-group[3701]-3701-1', type='checkbox', value='16')
				span
				| &nbsp;Mountain
			label.checkbox(for='mce-group[3701]-3701-2')
				input(name='group[3701][32]', id='mce-group[3701]-3701-2', type='checkbox', value='32')
				span
				| &nbsp;Cyclocross
	.medium.primary.btn: input(type='submit', value='Subscribe', id='mc-embedded-subscribe')