|---|
|layout: default
|title: Events
|---

.row
	.twelve.columns
		h3 Events
		hr

.row
	.eight.columns
		{% for event in site.categories.events reversed %}
		{% if event.date > site.time %}
		h4: a(href='{{ event.url }}') {{ event.title }} - {{ event.starttime | date: "%b %d, %Y" }}
		p {{ event.content | strip_html | truncatewords:20 }}
			a(href='{{ event.url }}') more info
		{% endif %}
		{% endfor %}