|---|
|layout: default
|title: Events
|---

.row
	.twelve.columns
		h3 Events
		hr

.row
	.eight.columns
		{% for event in site.categories.events reversed %}
		{% if event.starttime >= site.time %}
		h4 {{ event.title }} - {{ event.starttime | date: "%b %d, %Y" }}
		p {{ event.content | strip_html | truncatewords:50 }}
		{% endif %}
		{% endfor %}