|---|
|layout: default
|title: Home
|---

.row
	.twelve.columns: .responsive-height: .slider-container
		.index-slider
			.slider
				.slide: img(src='/img/carousel/team_road.jpg')
				.slide: img(src='/img/carousel/ride_dunmore.jpg')
			//- .control
			//- .selector
			//- .selector
			//- .selector
			//- .selector

.row
	.four.columns
		h3 Web Updates
		hr
		p Please pardon our appearance while we update our website. Over the next couple of days, we will be updating this year's calendar, updating our ride database, and writing up a news update. We apologize for any broken links or missing information. Feel free to send an email to <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a> if you have any questions or concerns. Thanks for your patience!
	.four.columns
		h3 Recent News
		hr
		ul.circle.articlelist
			{% for article in site.categories.news limit:5 %}
			li 
				a(href='{{ article.url }}'){{ article.title }}
				ul: li.date {{ article.date | date_to_string }} - {{ article.author }}
			{% endfor %}

	.four.columns
		h3 Get Involved
		hr
		p Sign up for our email list! Send us an email at <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a> and ask us to add your name.