|---|
|layout: default
|title: Home
|---

.row
	.twelve.columns: .responsive-height: .slider-container
		.index-slider
			.slider
				.slide: img(src='/img/carousel/team_road.jpg')
				.slide: img(src='/img/carousel/ride_dunmore.jpg')
			//- .control
			//- .selector
			//- .selector
			//- .selector
			//- .selector

.row
	.four.columns
		h3 Web Updates
		hr
		p Please pardon our appearance while we update our website. Over the next couple of days, we will be updating this year's calendar, updating our ride database, and writing up a news update. We apologize for any broken links or missing information. Feel free to send an email to <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a> if you have any questions or concerns. Thanks for your patience!
		//- .blurb-slider
		//- 	.slider2
		//- 		.slide2
		//- 			h3 Headline 1
		//- 			hr
		//- 			p Some Text
		//- 		.slide2
		//- 			h3 Headline 2
		//- 			hr
		//- 			p Some More Text
	.four.columns
		h3 Recent News
		hr
		ul.circle.articlelist
			{% for article in site.categories.news limit:5 %}
			li 
				a(href='{{ article.url }}'){{ article.title }}
				ul: li.date {{ article.date | date_to_string }} - {{ article.author }}
			{% endfor %}

	.four.columns
		h3 Get Involved
		hr
		p Stay up-to-date with the latest team news! Fill out the form below to make sure you never miss a ride, a kit order, or a tale of an epic win!
		//- include _partials/mce-form.jade
		.medium.primary.btn: a.switch(href='#', gumby-trigger='#signup-modal') Sign Me Up!