|---|
|layout: default
|title: 2013 Kits
|---

.row
	.twelve.columns
		h3 2013 Kits
		hr

.row
	.eight.columns
		p <strong>EDIT 9/13:</strong> Nate, one of our members and the coordinator of the kit order, got a notification today that a large package arrived at the campus mailing center from Castelli. We'll go pick it up and get your kits turned around to you shortly!
		hr
		p <strong>EDIT 9/10:</strong> We have just received word from Castelli that the summer kit order is on its way to Middlebury! It should arrive here within the week. We are excited to get them boxed up and shipped out to you the day after we receive them. We'll be sending out an email to folks with tracking information as soon as we send the kits.
		hr
		p <strong>EDIT 7/19:</strong> This summer's kit order has officially ended. Thank you so much to those who ordered kits this season. We appreciate your support!
		hr
		p <strong>EDIT 7/17:</strong> Today is the <strong>last day</strong> to place your order for a Middlebury Cycling kit. Don't miss the final summer kit order - get your jersey and shorts by midnight tonight! If you have any last minute questions, feel free to reach out to us at <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a>. We will be happy to help! Thanks for your support and we look forward to seeing you out on the road or on the trail in your new kit!
		hr
		p <strong>EDIT 7/10:</strong> The kit order deadline has been extended to <strong>Wednesday, July 17th</strong>. Take advantage of this extra special opportunity!
		hr
		p Now that we have all of the details ironed out, it's time for another kit order! If you missed out on the first one, this is your opportunity to show off the Middlebury colors while you're hammering on the bike.
		p Our kits were designed by Corinne Prevot of Skida and are custom manufactured by Castelli. They are of excellent quality (as only Italian cycling products can be!) and look incredibly pro. The order <strong>deadline is Wednesday, July 17th</strong>, so order soon! They should be printed up by early September. They'll be here just in time for the best fall riding weather.

		h4 How do I get my hands on one (or five)?
		ol
			li Head to the following link: <a href="http://bit.ly/11OJchw">http://bit.ly/11OJchw</a>
			li Enter your email under where it says "New Users."
			li Fill in your contact information. Be sure to include your shipping address so that we can send your order to you when it arrives!
			li When you are done with your contact info, you will be brought to a page with three tabs. With the "projects" tab selected, you should see a table that says "New Order" over in one of the right columns. Click on that "new order" link.
			li Enter "20" in each box. Just kidding - Enter the quantity of each item that you would like to purchase in each box of the table on this page. Click "Next" when you are done.
			li Follow the steps to enter your payment information and click "Submit"
			li Look for our confirmation email when we place the order on the 7th of July. We'll also be in touch via email throughout the summer if anything changes with the order. We have already done this once, though, and hope that things will go smoothly now that we have experience with the order process.
			li In September, the UPS delivery person will drop your kit off on your front doorstep. Walk outside, unbox your kit, put it on, and go for a ride!

		h4 What do the kits look like?
		p Here is a picture of the kit design itself: <a href="http://bit.ly/18lFwYo">http://bit.ly/18lFwYo</a>
		p And here is a picture of some of the team wearing the new kit this spring: <a href="http://bit.ly/1aVGCtl">http://bit.ly/1aVGCtl</a>

		h4 What are those logos on the back?
		p We put a couple of logos on the back of our jersey to thank the folks who generously support Middlebury Cycling. Skida did the design and Castelli is printing them up. Both Skida and Castelli have been awesome groups to work with. We'll let the quality of these kits speak for what great work they do - try it on, go for a ride, and you'll know what we mean.
		p As they would say, Vermont Peanut Butter puts the "nut" in nutrition. With their support and selection of energy and protein-rich nut butters, our athletes are well fueled and ready to race at every starting line. We spread <a href="http://www.vtpeanutbutter.com/vermont_peanut_butter.php?title=green_mountain_goodness">Green Mountain Goodness</a> on apples, crackers, and mix it into oats and dried fruit to make energy bars. VTPB is the best snack on and off the bike. Besides making a great product, these guys are all about healthy living in Vermont. We dig their attitude and their approach to life and the outdoors. The company has a fantastic ethos, full of enthusiasm and exploring the world by bike and on foot. Right on!
		p Thanks to all of these wonderful people for making Middlebury Cycling a success. If you want to support the team and put a logo of your own on our next kit, do not hesitate to get in touch by emailing cycling@middlebury.edu. We would love to hear from you!

		h4 What size should I get?
		p Castelli publishes their recommendations in the chart at the following link: <a href="http://castelli-cycling.com/img/sizechart_en.png?rand=876484190">Sizing Chart</a>
		p From our experience after the last order, the kits are race-cut. Lots of folks like that because race-cut kits are sleek, aerodynamic, and super "Euro." If that isn't your style, or you are in between sizes, we recommend sizing up rather than down.

		h4 Oh gosh! Kits are expensive. Why do they cost so much?
		p Yes, the kits are expensive. Unfortunately for us all, cycling is an expensive sport. On the other hand, these kits are a major step up in quality and only a couple of bucks more than some seriously inferior jerseys from a few years ago. They also cost less and undoubtedly look better than kits from a bunch of our competitors in the ECCC. I only checked a few, but we come in under the price of jerseys from Harvard, Columbia, UVM, and MIT.
		p Also, the money that we make from each kit order supports the club at Middlebury. By purchasing a kit, you are not only representing Middlebury College when you ride, you're supporting a longstanding tradition of riding and racing road, cyclocross, and mountain bikes in Vermont and all over New England.

		h4 The kits look so cool. SO COOL! Who designed them again?
		p Corinne Prevot, a Midd Kid from Vermont and the person responsible for those awesome SKIDA hats. Haven't seen a Skida hat, headband, or neckwarmer? Check them out on Skida's site: <a href="http://shopskida.com">shopskida.com</a>.

		hr

		p Thanks for your interest in this year's Middlebury Cycling Kits. We appreciate your support and look forward to seeing you out on the road. Don't hesitate to email <a href="mailto:cycling@middlebury.edu">cycling@middlebury.edu</a> with any questions.

	.four.columns.image.photo.switch(gumby-trigger='#modal1')
		a(href='#'): img(src='/img/kits_mockup.png')

	.modal#modal1
		.content
			a.close.switch(gumby-trigger='|#modal1')
				i.icon-cancel
			.row: .twelve.columns.text-center.image.rounded
				h4 2013 Kit Mockup
				img(src='/img/kits_mockup.png')
